@charset "UTF-8";
@keyframes fadeInTop {
  0% {
    translate: 0 -100%;
  }
  100% {
    translate: 0 0;
  }
}
@keyframes fadeOutTop {
  0% {
    translate: 0 0;
  }
  100% {
    translate: 0 -200%;
  }
}
@keyframes showIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  80%, 100% {
    opacity: 1;
  }
}
@media (max-width: 1300px) {
  .main {
    padding-bottom: round(clamp(min(40px, 24px),  20.8px  +  1vw , max(40px, 24px)), 1px);
  }
}
@media (min-width: 1301px) {
  .main {
    padding-bottom: 40px;
  }
}

@media (max-width: 1300px) {
  .section {
    padding-block: round(clamp(min(40px, 24px),  20.8px  +  1vw , max(40px, 24px)), 1px);
  }
}
@media (min-width: 1301px) {
  .section {
    padding-block: 40px;
  }
}
@media (max-width: 1300px) {
  .section-small {
    padding-block: round(clamp(min(26.6666666667px, 16px),  13.8666666667px  +  0.6666666667vw , max(26.6666666667px, 16px)), 1px);
  }
}
@media (min-width: 1301px) {
  .section-small {
    padding-block: 26.6666666667px;
  }
}
@media (max-width: 1300px) {
  .section-small-top {
    padding-top: round(clamp(min(26.6666666667px, 16px),  13.8666666667px  +  0.6666666667vw , max(26.6666666667px, 16px)), 1px);
  }
}
@media (min-width: 1301px) {
  .section-small-top {
    padding-top: 26.6666666667px;
  }
}
@media (max-width: 1300px) {
  .section-small-bottom {
    padding-bottom: round(clamp(min(26.6666666667px, 16px),  13.8666666667px  +  0.6666666667vw , max(26.6666666667px, 16px)), 1px);
  }
}
@media (min-width: 1301px) {
  .section-small-bottom {
    padding-bottom: 26.6666666667px;
  }
}
@media (max-width: 1300px) {
  .section-bottom {
    padding-bottom: round(clamp(min(40px, 24px),  20.8px  +  1vw , max(40px, 24px)), 1px);
  }
}
@media (min-width: 1301px) {
  .section-bottom {
    padding-bottom: 40px;
  }
}
@media (max-width: 1300px) {
  .section-top {
    padding-top: round(clamp(min(40px, 24px),  20.8px  +  1vw , max(40px, 24px)), 1px);
  }
}
@media (min-width: 1301px) {
  .section-top {
    padding-top: 40px;
  }
}
@media (max-width: 1300px) {
  .section-big {
    padding-block: round(clamp(min(80px, 40px),  32px  +  2.5vw , max(80px, 40px)), 1px);
  }
}
@media (min-width: 1301px) {
  .section-big {
    padding-block: 80px;
  }
}
@media (max-width: 1300px) {
  .section-offset {
    margin-block: round(clamp(min(40px, 24px),  20.8px  +  1vw , max(40px, 24px)), 1px);
  }
}
@media (min-width: 1301px) {
  .section-offset {
    margin-block: 40px;
  }
}
@media (max-width: 1300px) {
  .section-offset + .section-offset {
    margin-top: round(clamp(min(-40px, -24px),  -20.8px  +  -1vw , max(-40px, -24px)), 1px);
  }
}
@media (min-width: 1301px) {
  .section-offset + .section-offset {
    margin-top: -40px;
  }
}
@media (max-width: 1300px) {
  .section-offset-top {
    margin-top: round(clamp(min(40px, 24px),  20.8px  +  1vw , max(40px, 24px)), 1px);
  }
}
@media (min-width: 1301px) {
  .section-offset-top {
    margin-top: 40px;
  }
}
@media (max-width: 1300px) {
  .section-offset-bottom {
    margin-bottom: round(clamp(min(40px, 24px),  20.8px  +  1vw , max(40px, 24px)), 1px);
  }
}
@media (min-width: 1301px) {
  .section-offset-bottom {
    margin-bottom: 40px;
  }
}

.title {
  font-weight: 700;
}
@media (max-width: 1300px) {
  .title {
    font-size: round(clamp(min(48px, 32px),  28.8px  +  1vw , max(48px, 32px)), 1px);
  }
}
@media (min-width: 1301px) {
  .title {
    font-size: 48px;
  }
}
.title-2 {
  font-weight: 700;
}
@media (max-width: 1300px) {
  .title-2 {
    font-size: round(clamp(min(32px, 24px),  22.4px  +  0.5vw , max(32px, 24px)), 1px);
  }
}
@media (min-width: 1301px) {
  .title-2 {
    font-size: 32px;
  }
}
.title-3 {
  font-weight: 600;
}
@media (max-width: 1300px) {
  .title-3 {
    font-size: round(clamp(min(28px, 20px),  18.4px  +  0.5vw , max(28px, 20px)), 1px);
  }
}
@media (min-width: 1301px) {
  .title-3 {
    font-size: 28px;
  }
}
.title-4 {
  font-weight: 600;
}
@media (max-width: 1300px) {
  .title-4 {
    font-size: round(clamp(min(24px, 16px),  14.4px  +  0.5vw , max(24px, 16px)), 1px);
  }
}
@media (min-width: 1301px) {
  .title-4 {
    font-size: 24px;
  }
}

.button {
  padding: 0.75em 1.25em;
  background: #007EC6;
  color: #fff;
  white-space: nowrap;
}
@media (any-hover: hover) {
  .button:hover {
    background: color-mix(in srgb, black 12%, #007EC6);
  }
}
.button:focus-visible {
  background: color-mix(in srgb, black 12%, #007EC6);
}

@media (max-width: 1300px) {
  .form__fields {
    gap: round(clamp(min(16px, 12px),  11.2px  +  0.25vw , max(16px, 12px)), 1px);
  }
}
@media (min-width: 1301px) {
  .form__fields {
    gap: 16px;
  }
}

.input, .textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  font: inherit;
}
@media (max-width: 1300px) {
  .input, .textarea {
    padding-inline: round(clamp(min(20px, 12px),  10.4px  +  0.5vw , max(20px, 12px)), 1px);
  }
}
@media (min-width: 1301px) {
  .input, .textarea {
    padding-inline: 20px;
  }
}
.input:user-invalid, .textarea:user-invalid {
  color: #f03;
  border-color: #f03;
}
.input:user-invalid::placeholder, .textarea:user-invalid::placeholder {
  color: #f03;
}
.input::placeholder, .textarea::placeholder {
  color: rgba(29, 36, 40, 0.8);
}

@media (max-width: 1300px) {
  .input {
    height: round(clamp(min(60px, 48px),  45.6px  +  0.75vw , max(60px, 48px)), 1px);
  }
}
@media (min-width: 1301px) {
  .input {
    height: 60px;
  }
}

.textarea {
  padding-block: 12px;
}
@media (max-width: 1300px) {
  .textarea {
    height: round(clamp(min(100px, 80px),  76px  +  1.25vw , max(100px, 80px)), 1px);
  }
}
@media (min-width: 1301px) {
  .textarea {
    height: 100px;
  }
}

form.form-dragover {
  position: relative;
}
form.form-dragover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 5;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border: 2px dashed #007EC6;
  border-radius: 8px;
  background-color: rgba(0, 126, 198, 0.2);
  transition: background-color 0.2s, border-color 0.2s;
}
form.form-dragover:after {
  content: "Отпустите мышь, чтобы загрузить файлы";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 16px;
  background: #007EC6;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0.9;
}
form.form-dragover-error {
  background: #f03;
}
form.form-dragover-error:before {
  border-color: #f03;
  background-color: rgba(255, 0, 51, 0.2);
}
form.form-dragover-error:after {
  content: "Недопустимый тип файла";
}

.input-file {
  position: relative;
  width: 100%;
  transition: all 0.4s;
}
.input-file:focus-within {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.1lh;
  transition: color 0.3s, text-decoration-color 0.3s;
}
@media (any-hover: hover) {
  .input-file:hover {
    color: #007EC6;
  }
}
.input-file:focus-visible {
  color: #007EC6;
}
.input-file input {
  position: absolute;
  inset: 0;
  opacity: 0;
}
.input-file-text {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.input-file-text:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}
.input-file-text:before {
  content: "";
  position: relative;
  z-index: 2;
  align-self: center;
  flex-shrink: 0;
  flex-basis: 24px;
  aspect-ratio: 1;
  mask: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTYgMTYiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMTYiPjxwYXRoIGQ9Im03LjY0NiAxMy42NDYuNzA3LjcwNyA2LTZhNC4wNCA0LjA0IDAgMCAwIDAtNS43MDcgNC4wMzkgNC4wMzkgMCAwIDAtNS43MDcgMGwtNi41IDYuNWEzLjMzMiAzLjMzMiAwIDAgMCAwIDQuNzA3Yy42NDguNjQ4IDEuNTAxLjk3NCAyLjM1NC45NzRzMS43MDUtLjMyNSAyLjM1NC0uOTc0bDYtNmMuNDk1LS40OTUuNzY3LTEuMTUzLjc2Ny0xLjg1M3MtLjI3Mi0xLjM1OC0uNzY4LTEuODU0Yy0uOTktLjk5LTIuNzE3LS45OS0zLjcwNyAwbC01LjUgNS41LjcwNy43MDcgNS41LTUuNWMuNjExLS42MTEgMS42ODItLjYxMSAyLjI5MyAwIC4zMDYuMzA2LjQ3NS43MTMuNDc1IDEuMTQ3cy0uMTY5Ljg0MS0uNDc1IDEuMTQ2bC02IDZjLS45MDguOTA4LTIuMzg1LjkwOC0zLjI5MyAwcy0uOTA4LTIuMzg1IDAtMy4yOTNsNi41LTYuNWMxLjE4NC0xLjE4NCAzLjEwOS0xLjE4NCA0LjI5MyAwczEuMTg0IDMuMTA5IDAgNC4yOTNsLTYgNnoiIGZpbGw9IiM5NTk1OTciIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==") left center/contain no-repeat;
  -webkit-mask: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTYgMTYiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMTYiPjxwYXRoIGQ9Im03LjY0NiAxMy42NDYuNzA3LjcwNyA2LTZhNC4wNCA0LjA0IDAgMCAwIDAtNS43MDcgNC4wMzkgNC4wMzkgMCAwIDAtNS43MDcgMGwtNi41IDYuNWEzLjMzMiAzLjMzMiAwIDAgMCAwIDQuNzA3Yy42NDguNjQ4IDEuNTAxLjk3NCAyLjM1NC45NzRzMS43MDUtLjMyNSAyLjM1NC0uOTc0bDYtNmMuNDk1LS40OTUuNzY3LTEuMTUzLjc2Ny0xLjg1M3MtLjI3Mi0xLjM1OC0uNzY4LTEuODU0Yy0uOTktLjk5LTIuNzE3LS45OS0zLjcwNyAwbC01LjUgNS41LjcwNy43MDcgNS41LTUuNWMuNjExLS42MTEgMS42ODItLjYxMSAyLjI5MyAwIC4zMDYuMzA2LjQ3NS43MTMuNDc1IDEuMTQ3cy0uMTY5Ljg0MS0uNDc1IDEuMTQ2bC02IDZjLS45MDguOTA4LTIuMzg1LjkwOC0zLjI5MyAwcy0uOTA4LTIuMzg1IDAtMy4yOTNsNi41LTYuNWMxLjE4NC0xLjE4NCAzLjEwOS0xLjE4NCA0LjI5MyAwczEuMTg0IDMuMTA5IDAgNC4yOTNsLTYgNnoiIGZpbGw9IiM5NTk1OTciIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==") left center/contain no-repeat;
  background: currentColor;
}

.input-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background: #ccc;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s;
}
.input-image input {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.input-image__img {
  z-index: 1;
}
.input-image__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.input-image__img, .input-image__text {
  position: absolute;
  inset: 0;
}
.input-image__text {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-image__remove {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 4;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #007EC6;
  visibility: hidden;
}
.input-image__remove.active {
  visibility: visible;
}

.input-date {
  position: relative;
  z-index: 2;
  font: inherit;
}
.input-date input {
  font: inherit;
  cursor: pointer;
}
.input-date input::-webkit-calendar-picker-indicator {
  display: none;
}
.input-date:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  z-index: 1;
  transform: translateY(-50%);
  width: 20px;
  aspect-ratio: 1;
  mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20,2H19V1a1,1,0,0,0-2,0V2H7V1A1,1,0,0,0,5,1V2H4A4,4,0,0,0,0,6V20a4,4,0,0,0,4,4H20a4,4,0,0,0,4-4V6A4,4,0,0,0,20,2Zm2,18a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V6A2,2,0,0,1,4,4H5V5A1,1,0,0,0,7,5V4H17V5a1,1,0,0,0,2,0V4h1a2,2,0,0,1,2,2Z'/%3E%3Cpath d='M19,7H5A1,1,0,0,0,5,9H19a1,1,0,0,0,0-2Z'/%3E%3Cpath d='M7,12H5a1,1,0,0,0,0,2H7a1,1,0,0,0,0-2Z'/%3E%3Cpath d='M7,17H5a1,1,0,0,0,0,2H7a1,1,0,0,0,0-2Z'/%3E%3Cpath d='M13,12H11a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z'/%3E%3Cpath d='M13,17H11a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z'/%3E%3Cpath d='M19,12H17a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z'/%3E%3Cpath d='M19,17H17a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z'/%3E%3C/svg%3E") no-repeat center/contain;
  -webkit-mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20,2H19V1a1,1,0,0,0-2,0V2H7V1A1,1,0,0,0,5,1V2H4A4,4,0,0,0,0,6V20a4,4,0,0,0,4,4H20a4,4,0,0,0,4-4V6A4,4,0,0,0,20,2Zm2,18a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V6A2,2,0,0,1,4,4H5V5A1,1,0,0,0,7,5V4H17V5a1,1,0,0,0,2,0V4h1a2,2,0,0,1,2,2Z'/%3E%3Cpath d='M19,7H5A1,1,0,0,0,5,9H19a1,1,0,0,0,0-2Z'/%3E%3Cpath d='M7,12H5a1,1,0,0,0,0,2H7a1,1,0,0,0,0-2Z'/%3E%3Cpath d='M7,17H5a1,1,0,0,0,0,2H7a1,1,0,0,0,0-2Z'/%3E%3Cpath d='M13,12H11a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z'/%3E%3Cpath d='M13,17H11a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z'/%3E%3Cpath d='M19,12H17a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z'/%3E%3Cpath d='M19,17H17a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z'/%3E%3C/svg%3E") no-repeat center/contain;
  background: currentColor;
  pointer-events: none;
}

.password {
  position: relative;
  width: 100%;
}
.password__icon {
  position: absolute;
  right: 15px;
  top: 50%;
  translate: 0 -50%;
  width: 16px;
  height: 10px;
  background: url(../img/icons/password-hide.svg) center/contain no-repeat;
  transition: all 0.4s;
}
.password__icon.active {
  background-image: url(../img/icons/password-show.svg);
}

.popup {
  position: fixed;
  inset: 0;
  z-index: 11;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);
}
.popup_open .popup__content {
  animation: popup-open 0.4s ease forwards;
}
.popup_close .popup__content {
  animation: popup-close 0.4s ease forwards;
}
.popup__dialog {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.popup__content {
  position: relative;
  max-height: 90vh;
  padding-right: 9px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 400px;
  max-width: 96%;
  background: #fff;
  border-radius: 8px;
  text-align: center;
  cursor: default;
  transition: all 0.4s;
}
@media (max-width: 1300px) {
  .popup__content {
    padding-block: round(clamp(min(32px, 20px),  17.6px  +  0.75vw , max(32px, 20px)), 1px);
  }
}
@media (min-width: 1301px) {
  .popup__content {
    padding-block: 32px;
  }
}
@media (max-width: 1300px) {
  .popup__content {
    padding-inline: round(clamp(min(32px, 16px),  12.8px  +  1vw , max(32px, 16px)), 1px);
  }
}
@media (min-width: 1301px) {
  .popup__content {
    padding-inline: 32px;
  }
}
@supports (-moz-appearance: none) {
  .popup__content {
    scrollbar-color: #009ef9 #DFE4EC;
    scrollbar-width: thin;
  }
}
.popup__content::-webkit-scrollbar {
  width: 4px;
}
.popup__content::-webkit-scrollbar-track-piece {
  background-color: #DFE4EC;
  border-radius: 4px;
}
.popup__content::-webkit-scrollbar-thumb {
  background-color: #009ef9;
  border-radius: 4px;
}
@keyframes popup-open {
  from {
    opacity: 0;
    translate: 0 -24px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes popup-close {
  from {
    opacity: 1;
    translate: 0 0;
  }
  to {
    opacity: 0;
    translate: 0 -24px;
  }
}
.popup__title {
  line-height: 1.2;
}
@media (max-width: 1300px) {
  .popup__title {
    margin-bottom: round(clamp(min(16px, 12px),  11.2px  +  0.25vw , max(16px, 12px)), 1px);
  }
}
@media (min-width: 1301px) {
  .popup__title {
    margin-bottom: 16px;
  }
}
@media (max-width: 1300px) {
  .popup__title {
    font-size: round(clamp(min(28px, 24px),  23.2px  +  0.25vw , max(28px, 24px)), 1px);
  }
}
@media (min-width: 1301px) {
  .popup__title {
    font-size: 28px;
  }
}
.popup__form form {
  display: grid;
  justify-content: center;
  grid-template-columns: 100%;
}
.popup__form .form__fields {
  gap: 12px;
}
.popup__close {
  position: absolute;
  z-index: 4;
  display: flex;
  cursor: pointer;
  transition: all 0.4s;
}
@media (max-width: 1300px) {
  .popup__close {
    right: round(clamp(min(16px, 12px),  11.2px  +  0.25vw , max(16px, 12px)), 1px);
  }
}
@media (min-width: 1301px) {
  .popup__close {
    right: 16px;
  }
}
@media (max-width: 1300px) {
  .popup__close {
    top: round(clamp(min(16px, 12px),  11.2px  +  0.25vw , max(16px, 12px)), 1px);
  }
}
@media (min-width: 1301px) {
  .popup__close {
    top: 16px;
  }
}
.popup__close svg {
  width: 20px;
  height: 20px;
  fill: #DFE4EC;
}
@media (any-hover: hover) {
  .popup__close svg:hover {
    fill: #007EC6;
  }
}
.popup-thank .popup__content {
  display: grid;
  min-width: 280px;
  justify-items: center;
  background: #fff;
  color: #1D2428;
}
@media (max-width: 1300px) {
  .popup-thank .popup__content {
    gap: round(clamp(min(20px, 12px),  10.4px  +  0.5vw , max(20px, 12px)), 1px);
  }
}
@media (min-width: 1301px) {
  .popup-thank .popup__content {
    gap: 20px;
  }
}
.popup-thank .popup__title, .popup-thank .popup__subtitle {
  margin: 0;
}
@media (max-width: 1300px) {
  .popup-thank img {
    width: round(clamp(min(100px, 60px),  52px  +  2.5vw , max(100px, 60px)), 1px);
  }
}
@media (min-width: 1301px) {
  .popup-thank img {
    width: 100px;
  }
}
@media (max-width: 1300px) {
  .popup-thank img {
    height: round(clamp(min(100px, 60px),  52px  +  2.5vw , max(100px, 60px)), 1px);
  }
}
@media (min-width: 1301px) {
  .popup-thank img {
    height: 100px;
  }
}
@media (max-width: 575px) {
  .popup__dialog {
    width: 400px;
    max-width: 100%;
    padding: 0 12px;
    margin-inline: auto;
  }
}

.header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  padding-block: 12px;
  will-change: transform;
}
.header__top {
  display: flex;
  align-items: center;
}
.header__top-wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .header__mobile {
    position: fixed;
    right: -100vw;
    top: var(--headerFixedHeight);
    z-index: 5;
    display: grid;
    grid-template-columns: 100%;
    justify-items: start;
    align-content: start;
    gap: 20px;
    width: min(500px, 101vw);
    height: calc(100dvh - var(--headerFixedHeight));
    padding: 40px 20px 40px;
    background: #fff;
    opacity: 0;
    transition: right 0.3s, opacity 0.3s;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    pointer-events: none;
  }
  @supports (-moz-appearance: none) {
    .header__mobile {
      scrollbar-color: #009ef9 #DFE4EC;
      scrollbar-width: thin;
    }
  }
  .header__mobile::-webkit-scrollbar {
    width: 4px;
  }
  .header__mobile::-webkit-scrollbar-track-piece {
    background-color: #DFE4EC;
    border-radius: 4px;
  }
  .header__mobile::-webkit-scrollbar-thumb {
    background-color: #009ef9;
    border-radius: 4px;
  }
  .header__mobile.active {
    right: 0px;
    opacity: 1;
    pointer-events: auto;
  }
  .header__nav {
    width: 100%;
  }
  .header__menu {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    width: 100%;
  }
}