@keyframes fadeInTop {
  0% {
    translate: 0 -100%;
  }
  100% {
    translate: 0 0;
  }
}
@keyframes fadeOutTop {
  0% {
    translate: 0 0;
  }
  100% {
    translate: 0 -200%;
  }
}
@keyframes showIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  80%, 100% {
    opacity: 1;
  }
}